.header_front_page {
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}

.profile_picture_front_page {
    width: 50%;
    max-width: 300px;
    border-radius: 50%;
}

.link_boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(var(--link-box-height) / 2);
    width: 80%;
    max-width: 500px;
}

.link_box {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: var(--link-box-height);
    border-radius: var(--link-box-height);
    background-color: var(--main-color);
}

.link_box:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.link_box_content_left {
    display: flex;
    align-items: center;
    width: calc(var(--link-box-height) / 2);
    height: calc(var(--link-box-height) / 2);
    margin-left: calc(var(--link-box-height) / 2);
}

.link_box_icon {
    width: 100%;
    height: auto;
}

.link_box_content_right {
    color: var(--dark-color);
    margin-left: calc(var(--link-box-height) / 2);
    margin-right: calc(var(--link-box-height) / 2);
}
