.contact_session_container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}

.contact_session_container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: var(--padding-small);
    padding-bottom: var(--padding-small);
}

.qr_code_session_id {
    width: 80%;
    max-width: 250px;
}

.hash_session_id {
    word-break: break-all;
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
}
